body {
  font-family: var(--text-font-family);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
}
:root {
  --text-font-family: "Roboto", sans-serif;
  --heading-footer-font-family: "Raleway", sans-serif;
  --link-button-color: #2196f3;
  --text-color: #212121;
  --paragraph-color: #757575;
}
.global-header {
  background-color: #ececec;
}

.global-header .logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.global-header .logo .web {
  color: var(--link-button-color);
}
ul {
  list-style-type: none;
}
.global-header .link {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
}

.global-header .link:hover,
.global-header .link:focus {
  color: var(--link-button-color);
}
.contacts .link {
  color: var(--paragraph-color);
}
.hero-heading {
  background-color: #2f303a;
}
.hero-heading .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-heading .button {
  cursor: pointer;
  font-family: "Roboto";
  background-color: var(--link-button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
}
.section-attributes .name {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.section-attributes .description {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.section-work,
.section-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}
.section-team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.section-team .description {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.buttons-list .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
}
.buttons-list .button:hover,
.buttons-list .button:focus {
  color: var(--link-button-color);
}
.buttons-list .button:hover {
  color: #ffffff;
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section .container {
  width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
.portfolio .article-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio .article-type {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}
.global-footer {
  background-color: #2f303a;
}
.global-footer .logo {
  font-family: var(--heading-footer-font-family);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.global-footer .logo .web {
  color: var(--link-button-color);
}

.global-footer .location {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.global-footer .address .email {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #d9d9d9;
  text-decoration: none;
}

.global-footer .address .phone-number {
  font-family: var(--text-font-family);
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
